<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DynamicData" version="4.12.0.1210" targetFramework="net47" />
  <package id="JetBrains.dotMemoryUnit" version="2.3.20160517.113140" targetFramework="net462" />
  <package id="Rx-Core" version="2.2.5" targetFramework="net47" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="net47" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="net47" />
  <package id="SerialPortStream" version="2.0.3" targetFramework="net462" />
  <package id="xunit" version="2.3.0-beta1-build3642" targetFramework="net462" />
  <package id="xunit.abstractions" version="2.0.1" targetFramework="net462" />
  <package id="xunit.assert" version="2.3.0-beta1-build3642" targetFramework="net462" />
  <package id="xunit.core" version="2.3.0-beta1-build3642" targetFramework="net462" />
  <package id="xunit.extensibility.core" version="2.3.0-beta1-build3642" targetFramework="net462" />
  <package id="xunit.extensibility.execution" version="2.3.0-beta1-build3642" targetFramework="net462" />
</packages>